@font-face {
    font-family: 'Bebas Neue';
    src: url('./Fonts/BebasNeue Bold.otf');
    font-weight: bold;
}

/*------------------------NAVBAR------------------------------*/

/* Dont show nav bar for desktop on smaller resolutions */
.nav_container {
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav_container { /* Start showing desktop nav bar */
        display: block;
        background-color: #4d5056;
        position: fixed; /* Keeps menu visible even when scrolling */
        width: 100vw;
        z-index: 2; /* Puts menu in front of anything else on the screen */
    }

    .header_nav {
        height: 50px;
        color: white;
        width: 80vw;
        max-width: 1200px;
        margin-right: auto; /* Center nav bar */
        margin-left :auto;
    }

    .header_nav * {
        display: inline; /* Have elements line up horizontally */
        height: 50px;
    }

    .header_nav li {
        float: right; /* Menu on right */
    }

    .header_nav button { /* Get rid of default button display, just want the text with the functionality of a button */
        background: none;
        outline: none;
        cursor: pointer;
        font: inherit;
        color: inherit;
        border: none;
        padding-right: 13px;
        padding-left: 13px;
    }

    .header_nav button:hover { /* Lighter on color */
        background-color: rgba(255, 255, 255, 0.1);
    }

    .header_nav button:active { /* Darker than the hover, but lighter than normal still. Gives user visual feedback that button is pressed */
        background-color: rgba(255, 255, 255, 0.05);
    }
}
/*------------------------------------------------------------*/

/*----------------------MOBILE MENU---------------------------*/

.mobile_menu {
    min-width: 320px;
    position: fixed; /* Keeps menu visible even when scrolling */
    width: 100vw;
    z-index: 2; /* Puts menu in front of anything else on the screen */
}

.mobile_menu span {
    width: 100%;
}

.hamburger_menu {
    text-align: right;
    float: right;
    font-size: 20px;
    color: white;
    padding-right: 20px;
    background-color: #4d5056;
}

.mobile_menu button{ /* Get rid of default button display, just want the text with the functionality of a button */
    background: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    border: none;
}

.mobile_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile_menu li {
    text-align: center;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
}

.mobile_menu li button {
    width: 100%;
}

.mobile_menu li button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes mobile_menu_open { /* Animation of mobile menu drop down when opening*/
    0% { transform: translateY(-100%); }
    100%{ transform: translateY(0%); }
}

@keyframes mobile_menu_close { /* Animation of mobile menu retreating upwards when closing */
    0% { transform: translateY(0%); visibility: visible;}
    100%{ transform: translateY(-100%); visibility: hidden;}
}

.mobile_menu_nav.open { /* When mobile menu is open */
    clear: both;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: #4d5056;
    animation: mobile_menu_open 0.5s ease-in-out;
}

.mobile_menu_nav.closed { /* When mobile menu is closed */
    background-color: #4d5056;
    animation: mobile_menu_close 0.5s ease-in-out;
    visibility: hidden;
    transition: visibility 0.5s linear;
}

/* Prevent animation from playing whenever page is refreshed or viewer arrives at page */
.mobile_menu_nav.closed.first_time {
    display: none;
}

@media only screen and (min-width: 768px) { /* Dont display mobile nav bar or mobile menu when not on mobile resolution */
    .mobile_menu {
        display: none;
    }
}


/*------------------------------------------------------------*/


/*-----------------------MAIN---------------------------------*/

.main_section_container {
    background-color: #1ed0fc;
    min-width: 320px;
}

.main_section {
    overflow: hidden;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}

.self_pic {
    align-self: flex-end;
    object-fit: none; /* Dont adjust picture resolution to fit into its container */
}


.main_header_container {
    align-self: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #0b244c;
    white-space: nowrap;
}

.main_header_container h1{
    font-size: 22px;
    margin: 0;
}

.main_header_container h2 {
    font-size: 16px;
    text-indent: 1.5em;
    margin: 0;
}

@media only screen and (min-width: 375px) {
    .self_pic { /* Change picture to larger version */
        content: url('./images/BannerImages/PictureOfMe_375px.png');
    }
}

@media only screen and (min-width: 425px) {
    .main_header_container h1{
        font-size: 26px;
    }

    .main_header_container h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {

    .main_section {
        height: 400px;
    }

    .self_pic { /* Change picture to larger version */
        content: url('./images/BannerImages/PictureOfMe_600px.png');
    }



    .main_header_container h1 {
        font-size: 35px;
        text-indent: 0;
    }

    .main_header_container h2 {
        font-size: 25px;
        text-indent: 1em;
    }
}

@media only screen and (min-width: 768px) {
    .main_section{
        height: 600px;
    }

    .self_pic { /* Change picture to larger version */
        content: url('./images/BannerImages/PictureOfMe_768px.png');
    }

    .main_header_container h1 {
        font-size: 45px;
    }

    .main_header_container h2 {
        font-size: 35px;
    }
}


@media only screen and (min-width: 1024px) {
    .main_header_container h1 {
        font-size: 55px;
    }

    .main_header_container h2 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1440px) {
    .main_section {
        height: 900px;
    }

    .self_pic { /* Change picture to larger version */
        content: url('./images/BannerImages/PictureOfMe.png');

    }

    .main_header_container {
        align-self: center; /* Vertically center header container */
    }

    .main_section h1 {
        font-size: 80px;
        margin: 0;
        align-self: center;

    }

    .main_section h2 {
        font-size: 45px;
        text-indent: 2em;
        margin: 0;
    }
}

/*------------------------------------------------------------*/

/*-----------------------ALL CONTENT-------------------------*/

.content_section {
    min-width: 320px;
    max-width: 1200px;
    font-family: 'Montserrat';
    margin-top: 200px;
}

.content_header:before, /* Lines to the left/right side of content headers */
.content_header:after {
    content:'\a0';
    position: absolute;
    height: 2px;
    overflow: hidden;
    background-color: #1ed0fc; /*Gotta Change this later*/
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 50%;
    top: 50%;
}

.content_header:before {
    margin-left: -51%;
    text-align: right;
}

.content_header:after {
    margin-left: 1%;
}

.content_header {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    width: 60%;
    margin-right: auto; /* Center content headers */
    margin-left: auto;
    font-family: 'Montserrat';
}

@media only screen and (min-width: 600px) {
    .content_section {
        width: 90vw;
        margin-right: auto; /* Center content sections */
        margin-left: auto;
    }

    .content_header {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1024px) {
    .content_section {
        width: 90vw;
        overflow: hidden;
    }

    .content_header {
        font-size: 30px;
    }

}

@media only screen and (min-width: 1440px) {
    .content_section {
        width: 60vw;
        overflow: hidden;
        min-height: 400px;
        max-height: 700px;
    }

    .content_header:before,
    .content_header:after {
        content:'\a0';
        position: absolute;
        height: 3px;
        overflow: hidden;
        background-color: #1ed0fc; /*Gotta Change this later*/
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        width: 50%;
        top: 50%;
    }

    .content_header:before {
        margin-left: -51%; /* adjust position of left line on content header */
        text-align: right;
    }

    .content_header:after {
        margin-left: 1%; /* adjust position of right line on content header */
    }

    .content_header {
        font-size: 36px;
    }
}
/*------------------------------------------------------------*/

/*-----------------------ABOUT ME-----------------------------*/

.about_me_pic {
    margin-right: auto; /* Center picture */
    margin-left: auto;
    display: block;
}

.contact_list {
    margin-right: auto; /* Center list */
    margin-left: auto;
    width: 80%;
    text-align: center;
}

.contact_list ul {
    padding: 0;
}

.contact_list li {
    list-style: none;
    display: inline; /* Horizontally align list elements */
    margin-right: 20px;
    margin-left: 20px;
}

.contact_list a {
    text-decoration: none; /* Remove underline from link */
    color: inherit;
}

.about_me_content {
    margin-right: auto; /* Center content */
    margin-left: auto;
    width: 90%;
    font-size: 15px;
}

@media only screen and (min-width: 600px) {
    .about_me_pic {
        float: right;
        margin: 0;
        content: url('./images/AboutMeImages/AboutMePic_600px.png'); /* Change picture to larger version */
    }

    .about_me_content {
        width: 40%;
        margin: 0;
    }

}

@media only screen and (min-width: 768px) {
    .about_me_content {
        font-size: 18px;
    }

    .about_me_pic { /* Change picture to larger version */
        content: url('./images/AboutMeImages/AboutMePic_768px.png');
    }

}

@media only screen and (min-width: 1024px) {
    .about_me_content {
        font-size: 22px;
        width: 43%;
        height: 100%;
    }

    .about_me_pic { /* Change picture to larger version */
        content: url('./images/AboutMeImages/AboutMePic_1024px.png');
    }
}
/*------------------------------------------------------------*/

/*--------------------------EDUCATION-------------------------*/


.education_content {
    width: 90vw;
    min-width: 288px;
    margin-right: auto; /* Center content */
    margin-left: auto;
}

.education_img {
    display: block;
    margin-right: auto; /* Center image */
    margin-left: auto;
}

.education_content h3 {
    font-size: 18px;
    margin-bottom: 0;
}

.education_content p {
    margin: 0;
    font-size: 12px;
}

.education_content h4 {
    margin-bottom: 0;
}

.education_content ul {
    list-style: none;
    margin-top: 0;
}

.education_content .education_text {
    font-size: 15px;
}

@media only screen and (min-width: 600px) {
    .education_img {
        float: right;
    }
}
@media only screen and (min-width: 768px) {

    .education_content h3 {
        font-size: 20px;
    }

    .education_content h4 {
        font-size: 18px;
    }

    .education_img { /* Change picture to larger version */
        content: url('./images/EducationImages/StevensLogo.png');
        margin-bottom: 20px;
    }

    .education_content ul {
        list-style: none;

        font-size: 16px;
    }

    .education_content .education_text {
        font-size: 18px;
        width: 80%;
        clear: both; /* Move text underneath floating image. Clear doesn't allow this element to have objects float to both left or right side. */
    }
}

@media only screen and (min-width: 1024px) {
    .education_content {
        width: auto;
        max-width: 920px;
    }

    .education_content h3 {
        margin-bottom: 0;
        font-size: 24px;
    }

    .education_content h4 {
        font-size: 22px;
        margin-bottom: 0;
    }

    .education_content p {
        font-size: 14px;
    }

    .education_content ul {
        font-size: 20px;
    }

    .education_img {
        content: url('./images/EducationImages/StevensLogo_1024px.png');
    }

}
/*------------------------------------------------------------*/

/*--------------------------PROJECTS--------------------------*/

.projects_content {
    width: 90vw;
    min-width: 288px;
    margin-left: auto; /* Center content */
    margin-right: auto;
}

.game_route_container img {
    margin-right: auto; /* Center image */
    margin-left: auto;
    display: block;
}

.game_route_container p {
    text-align: center;
    margin-bottom: 0;
}

.side_note {
    font-size: 12px;
    margin: 0;
    font-style: italic;
}

.game_link {
    text-decoration: none; /* Remove underline from link */
    color: navy;
    font-weight: bold;

}

.summary_header {
    width: 90vw;
    min-width: 288px;
    margin-right: auto; /* Center header */
    margin-left: auto;
    font-size: 18px;
    margin-top: 0px;
}

.projects_summary {
    font-size: 15px;
}

.technologies_used_container {
    width: 90vw;
    min-width: 299px;
    margin-right: auto; /* Center container */
    margin-left: auto;
    margin-top: 75px;
}

.technologies_used_container .summary_header {
    margin-bottom: 0;
}

.technologies_used_container ul {
    font-size: 13px;
    margin-top: 5px;
    list-style: none;
    padding-left: 0px;
}

.technologies_used_container li:before {
    padding-right: 5px;
    font-weight: 900; /* Some fa icons will not render if this is not set */
}

.icon_container {
    display: flex;
    justify-content: space-between;
}

.icon {

}

.icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.used_for {
    font-style: italic;
    font-size: 12px;
}

.unity {
    height: 50px  /* Need to edit image to have same height dimension as other icons*/
}

@media only screen and (min-width: 600px) {
    .projects_content {
        width: auto;
    }

    .game_link {
        font-size: 20px;
    }

    .technologies_used_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .summary_container {
        width: 50%;
    }

    .icon_container {
        display: flex;
        float: right;
        flex-wrap: wrap;

        flex-basis: 50%;
    }

    .icon_container img {
        object-fit: none; /* Keep resolution of each icon, dont adjust them to fit the container */
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 768px) {

    .projects_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .summary_header {
        font-size: 20px;
        width: inherit;
    }

    .projects_summary {
        font-size: 18px;
        flex-basis: 45%;
    }

    .game_route_container {
        align-self: center;
        margin-top: 20px;
    }

    .game_route_container img { /* Change picture to larger version */
        content: url('./images/ProjectsImages/HighRollerTitleScreenShot.PNG');
    }

    .game_link {
        font-size: 24px;
    }

    .summary_container {
        width: auto;
    }

    .technologies_used_container {
        width: auto;
    }

    .technologies_used_container .summary_header {
        width: auto;
    }

    .blender { /* Change picture to larger version */
        content: url('./images/ProjectsImages/BlenderIcon.png');
    }

    .unity{ /* Change picture to larger version */
            content: url('./images/ProjectsImages/Unity3DIcon.png');
            height: 67px; /* Need to edit image to have same height dimension as other icons*/
    }

    .musescore { /* Change picture to larger version */
            content: url('./images/ProjectsImages/MuseScoreIcon.png');
    }

    .technologies_used_container li {
        font-size: 15px;
    }

}


@media only screen and (min-width: 1024px) {

    .projects_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .summary_header {
        font-size: 30px;
    }

    .projects_summary {
        flex-basis: 45%;
        font-size: 22px;
    }

    .projects_summary p {
        margin: 0;
    }

    .game_route_container {
        float: right;

    }

    .game_link  {

        font-size: 28px;
    }

    .game_route_container img { /* Change picture to larger version */
        content: url('./images/ProjectsImages/HighRollerTitleScreenShot.PNG');
    }

    .summary_container {
        width: auto;
    }

    .summary_container li {
        font-size: 18px;
    }

    .icon_container {
        display: flex;
        float: right;
        flex-wrap: wrap;

        flex-basis: 50%;

    }

    .icon_container img {
        flex-basis: 25%;
        object-fit: none;
    }

    .technologies_used_container.summary_header {
        display: inline;
        flex-basis: 100%;
        font-size: 30px;
        margin-bottom: 0;
    }

    .technologies_used_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .side_note {
        font-size: 15px;
    }

    .game_route_container ul {
        margin-top: 5px;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 1300px) {

    .game_route_container img { /* Change picture to larger version */
        content: url('./images/ProjectsImages/HighRollerTitleScreenShot_1300px.png');
    }

    .game_link {
        font-size: 32px;
    }
}
/*------------------------------------------------------------*/

/*----------------------CONTACT-------------------------------*/

.contact_section h2 {
    margin-bottom: 0;
}

.contact_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.contact_content p {
    flex-basis: 100%;
    font-style: italic;
    margin-top: 0;
}


.contact_content a {
    text-decoration: none; /* Remove underline from link */
    display: flex;
}

.contact_content img {
    object-fit: none; /* Dont adjust image resolution to fit container */
}

.contact_link_container {
    flex-basis: 100%;
    display: flex;
    width: 60%;
    padding-bottom: 10px;
}

.contact_link_container p{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%

}

.contact_icon i {
    font-size: 25px;
}

.contact_icon .fa-github {
    color: black;
}

.contact_icon .fa-envelope {
    color: navy;
}

@media only screen and (min-width: 768px) {

    .contact_content p {
        font-size: 18px;
    }

    .contact_icon i {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1024px) {

    .contact_content p {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1440px) {

    .contact_content p {
        font-size: 26px;
    }
}

/*------------------------------------------------------------*/